.intro {
	padding-block: 7rem 4rem;
	background: url('../../images/illustration-working.svg') no-repeat left 57vw center;
	background-size: auto 90%;
}

.intro .container {
	display: grid;
	grid-template-columns: calc(min(60vw, 720px)) 1fr;
	justify-items: left;
}

.intro .container > * {
	grid-column: 1/2;
}

.hero__text {
	margin-bottom: var(--s3);
	font-size: 1.4rem;
	width: 80%;
}
