.header {
	margin-block: var(--s6);
}

.header > .container {
	display: flex;
	align-items: center;
	gap: var(--s4);
}

.header nav {
	width: 100%;
}

.header__navlinks {
	display: flex;
	align-items: center;
	gap: var(--s4);
}

.navlink {
	color: var(--secondary-500);
	font-weight: 700;
}

.login {
	margin-left: auto;
}
